<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="/static/bower_components/material-design-lite/material.js"></script>
    <script src="/static/bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="/static/bower_components/webrtc-adapter/release/adapter.js"></script>
    <title>Room - collabo.tv</title>
</head>

<body>
<div id="root"></div>
<script type="text/javascript" src="/static/js/generated/transformed.js"></script>
</body>

</html>
