<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="icon" href="/static/favicon.ico">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="/static/bower_components/material-design-lite/material.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/lib/adapter.js"></script>
    <script src="/static/js/video_streams.js"></script>


    <title>Room - collabo.tv</title>


</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Collabo.tv</span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Room a</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Room b</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Collabo.tv</span>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="page-content">
                        <div id="video">
                            <iframe width="320" height="240" src="https://www.youtube.com/embed/drPx0OPav8o"></iframe>
                        </div>
                        </br>
                        <div class="broadcast">
                            <video id="localVideo" autoplay></video>
                            <video id="remoteVideo" autoplay></video>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="mdl-grid">
                <div>
                    Wideo to play: <input type="text" id="wideoUrl" placeholder="enter url">

                    <p>Wprowadz url(np VaO0ZRSphjc) i kliknij przycisk.</p>

                    <button onclick="Initiate()">PLAY</button>

                </div>
                <div class="youtube"
                     id="wideoId"
                     style="width: 500px; height: 281px;">
                </div>

            </div>
        </section>
        <!-- <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Collabo.tv</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>           -->
    </main>
</div>
</body>

</html>
